<h1> Création de l'Événement </h1>
<div class ="row">
<%= javascript_include_tag :defaults, "nested_form" %>
<% if @event.errors.any? %>        
      <div id="error_explanation" class="col-sm-6  btn-danger">
        <h4>
          La modification de l'évènement est impossible : 
        </h4>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <%end%>
</div>
</br>
<div class="row">
    <%= nested_form_for @event, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
            <%= f.label :Nom, :class => "col-sm-2 control-label"%>
            <div class="col-sm-3">
                <%= f.text_field :Nom , :class => "form-control "%> 
            </div>
        </div>
        <div class="form-group">
            <%= f.label :Nombre_de_Participants, :class => "col-sm-2 control-label"%>
            <div class="col-sm-3">
                <%= f.text_field :Nombre_de_Participants, :class => "form-control"%></br>
            </div>
        </div>
        <div class="form-group">     
            <%= f.label :Nombre_de_Creneaux_par_Participant, "Nombre de Créneaux Max par Participant", :class => "col-sm-2 control-label"%>
            <div class="col-sm-3">
            <%= f.text_field :Nombre_de_Creneaux_par_Participant, :class => "form-control"%></br>
            </div>
        </div>

            <%= f.fields_for :creneaus do |creneau_form| %>
              <script type="text/javascript">

                  $('.datetimepicker').datetimepicker({format: '20YY-MM-DD HH:mm'});

              </script>
              <div class="col-sm-2">
              <%= creneau_form.label :nom_creneau%>
              <%= creneau_form.text_field :nom_creneau, :class => "form-control" %>
              <%= creneau_form.label :date_debut, :class => "control-label"%>
              <%= creneau_form.date_field :date_debut, :class => "form-control datetimepicker"%>
              <%= creneau_form.label :date_fin%>
              <%= creneau_form.date_field :date_fin, :class => "form-control datetimepicker"%>
              <%= creneau_form.label :Nombre_de_Participants_Necessaires%>
              <%= creneau_form.text_field :Nombre_de_Participants_Necessaires, :class => "form-control" %>
              <br>
              <%= creneau_form.link_to_remove "Enlever ce créneau",:class => "btn btn-danger" %>
              </div>
            <% end %>
            </br></br>
            <div class="row">
              <div class="col-sm-13">
            <%= f.link_to_add "Ajouter un Créneau", :creneaus, :class =>"h3"%>
              </div>
            </div>
            <div class="text-center">
            <br>
            <%=  button_tag(type: 'submit', class: "btn btn-primary")   do %>
              
              Sauvegarder
              <%end%>
            </div>
    <%end%>
</div>
