<h1> Sélection des participants </h1>
<%= javascript_include_tag :defaults, "nested_form" %>
<% if @participant.errors.any? %>        
      <div id="error_explanation" class="col-sm-6  btn-danger">
        <h4>
          La modification de l'évènement est impossible : 
        </h4>
        <ul>
          <% @participant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <%end%>
</br>
<div class ="row">
<%= nested_form_for @event, url: {action: "create"} do |f| %>
        <%= f.fields_for :participants do |participant_form| %>
          <%= participant_form.label :nom %>
          <%= participant_form.date_field :nom, :class => "form-control"%>
          <%= participant_form.link_to_remove "Enlever ce Participant" %>
        <% end %>
        <p><%= f.link_to_add "Ajouter un Participant", :participants %></p>
        <%=  button_tag(type: 'submit') do %>
          Sauvegarder
	        <%end%>
<%end%>
<%= link_to 'Retour', new_participant_path%>
</div>

