<%=  @caca %></br></br>
<% if (not(@caca)) %>
	<table class ="table">
		<% Creneau.all.each do |c| %>
			<tr>
				<td><%= c.date_debut.strftime("%m/%d/%Y : %H:%M")%></br> <%= c.date_fin.strftime("%m/%d/%Y : %H:%M")%></td>
				<% disp = c.disponibilites.where(active: 0) %>
				<% disp.each do |d| %>
					<td><%=d.participant.nom%></td>
				<%end%>
			</tr>
			<% end %>
	</table>

<% end %>
<%= link_to 'Modifier Les Disponibilites', disponibilites_rm_dispos_path, class: "btn btn-warning"%>