<h1> Choix des Disponibilites </h1>
<%= form_tag("create", method: "post") do%>
	<table class ="table">
		<tr>
				<td></td>
				<% Participant.all.each do |p| %>
				<td><%=p.nom%></td>
				<% end %>
		</tr>
				<% Creneau.all.each do |c| %>
		<tr>
				<td><%="#{c.date_fin.strftime("%m/%d/%Y : %H:%M%p")}"%></br><%="#{c.date_debut.strftime("%m/%d/%Y : %H:%M%p")}"%></td>
				<% Participant.all.each do |p| %>
				<td><%=check_box_tag "#{p.id}[]", c.id, false, :class => "form-control"%></td>
				<%end%>
		</tr>
				<%end%>
				
	</table>
 	<%=  submit_tag("Sauvegarder")%>
 	<%end%>
  	
