<h1> Choix des Disponibilites </h1>
<div class ="row">
<% if @disponibilite.errors.any? %>        
      <div id="error_explanation" class="col-sm-6  btn-danger">
        <h4>
          La création des disponibilites est impossible : 
        </h4>
        <ul>
          <% @disponibilite.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <%end%>
</div>
<h4> L'event en cours est : <%=@event_en_cours.Nom%> </h4>
<%= form_tag("create", method: "post") do%>
	<table class ="table">
		<tr>
				<td></td>
				<% @participants.each do |p| %>
				<td><%=p.nom%></td>
				<% end %>
		</tr>
				<% @creneaux.all.each do |c| %>
		<tr>
				<td><div> <%=c.date_fin.strftime("%m/%d/%Y : %H:%M")%> </br><%=c.date_debut.strftime("%m/%d/%Y : %H:%M")%></div> <%=c.Nombre_de_Participants_Necessaires%> Participant(s) Nécessaire(s)</td>
				<% @participants.each do |p| %>
				<td><%=check_box_tag "#{p.id}[]", c.id, false, :class => "form-control"%></td>
				<%end%>
		</tr>
				<%end%>
				
	</table>
 	<%=  submit_tag("Sauvegarder", class: "btn btn-success")%>
 	<%= link_to 'Modifier les Participants', participants_path, class: "btn btn-warning"%>
 	<%= link_to "Modifier L'Évènement", edit_event_path(@event_en_cours), :class => "btn btn-warning"%>
    <%= link_to "Modifier Les Créneaux", creneaus_path, :class => "btn btn-warning"%>
 	<%end%>
  	
