<!DOCTYPE html>
<html>
<head>
  <title>PlanningGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row ">
	<header class="page-header text-center">
	<h1>Générateur de Planning</h1>
	</header>
<div class="col-sm-2 MaBordure">  <h4>
	<ul>
      <li><%= link_to_if(Event.last.nil?, "Création de L'Évènement", { controller: "events", action: "new" }) %></li>
      </br>
      <li><%= link_to_if((Participant.last.nil? and not(Event.last.nil?)), "Choix des Participants", { controller: "participants", action: "new" }) %></li>
      </br>
      <li><%= link_to_if((Disponibilite.last.nil? and not(Event.last.nil?) and not(Participant.last.nil?)), "Gestion des Disponibilités", { controller: "disponibilites", action: "new" }) %></li>
      </br>
      <li><%= link_to controller: "disponibilites", action: "fin" do %>Tout Recommencer<% end%></li>
      </br>
	</ul></h4>
</div>


<div class="container col-sm-9">
	<div>
		<%= yield %></div> 
	</div>
</div>
</body>
</html>
