<!DOCTYPE html>
<html>
<head>
  <title>PlanningGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="row ">
	<header class="page-header text-center">
	<h1>Générateur de Planning</h1>
	</header>
<div class="col-sm-2 MaBordure">  <h4>
	<ul>
      <li><%= link_to controller: "events", action: "new" do %>1 : Entrer Événement</i> <% end%></li>
      </br>
      <li><%= link_to controller: "participants", action: "new" do %>2 : Entrer les Participants</i> <% end%></li></br>
      <li><%= link_to controller: "disponibilites", action: "new" do %>3 : Entrer leurs Dispos</i> <% end%></li></br>
      <li>Have</li></br>
      <li>Some </li> </br>
      <li>Fun </li>
	</ul></h4>
</div>


<div class="container col-sm-9">
	<div>
		<%= yield %></div> 
	</div>
</div>
</body>
</html>
